@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: rgb(40, 40, 40);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(86, 86, 86);
  border-radius: 14px;
}
